.pictureBox{
    font-family: Arial;
    font-size: 14px;
    height: 750px;
    
    margin: 0 0 10px 0;
    max-width: 100%;
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    right: 0px;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;  
}
.thanhtoanBox{
    font-family: Arial;
    font-size: 14px;
    text-align: left;
    height: 750px;
    
    
    position: relative;
    top: 0px;
    right: 0px;
    left: 0px;
    right: 0px;
    display: block;
    float: right;

}
.picture{
    height: 550px;
    width: 550px;
    max-width: 100%;
    max-height: 100%;
    margin: 46px 46px 46px 46px;
}

