.optionBox{
    height: 48px;
    width: 196px;
    border: 1px solid #ebebeb;
    min-height: 48px;
    min-width: 196px;
    transform: none;
    transition: all 0s ease 0s;
    outline: none;
    box-sizing: border-box;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.productFont{
  font-family: Arial;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-decoration: none solid rgb(29, 29, 31);
  text-align: left;
  word-spacing: 0px;
  
}

.title{
    font-family: Arial;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    text-decoration: none solid rgb(29, 29, 31);
    text-align: center;
    word-spacing: 0;
}
.ipposter{
    height: 400px;
    width: 1200px;

}
.carousel-control-prev,
.carousel-control-next {
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 20px;
}

.carousel-control-next {
  right: 20px;
}
.textBox{
  font-family: Arial;
  font-size: 15px;
  line-height: 20px;   
  cursor: pointer;
  padding: 22px 16px 22px 16px;
}
.textBox:hover{
  background-color: #626265;   
}
.iconBox{
  cursor: pointer;
  font-size: 22px;
  color: white;
  padding: 15px 15px 15px 15px;
  height: 64px;
  width: 40px;
}
.tuvanBox{
  height: 215px;
  width: 590px;
  padding: 38px 20px 38px 20px;
  min-height: auto;
  min-width: auto;
  cursor: pointer;
  box-sizing: border-box;
  word-wrap: break-word;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;  
 
}
.tuvanBox:hover{
  box-shadow: rgba(0, 0, 0, 12) 1px 1px 14px 0px;
}
.ssip{
  height: 108px;
  width: 190px;
  display: block;
  cursor: pointer;
  text-align: justify;
}
.sosanhBox1{
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  word-spacing: 0px;
  height: 76px;
  width: 190px;
  padding: 0 0 20px 0;
  margin: 0 0 8px 0;
  display: block;
  cursor: pointer;
}
.sosanhBox2{
  font-family: Arial;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  word-spacing: 0px;
  height: 76px;
  width: 210px;
  padding: 0 0 20px 0;
  margin: 0 0 8px 0;
  display: block;
  cursor: pointer;
}
.contentBox{
  height: auto;
  width: 1200px;
  margin: 0 0 25px 0;
  padding: 40px 40px 55px 40px;
  position: relative;
  top: 0px;
  right: 0px;
  left: 0px;
  right: 0px;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;  
}
.content{
 
  font-family: Arial;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  word-spacing: 0px;
  margin: 10px 0 10px 0;
  height: auto;
  width: auto;
  display: block;
}
.contentTitle{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  display: inline;
}
.card-body{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;  
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: block;
}